/*-----------------IMPORT------------------*/
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700&display=swap");

/*-----------------DEBUG------------------*/
[debug],
[debug] * {
  outline: solid 1px #9400ff;
  box-shadow: none;
  filter: none;
}
/*-----------------GLOBAL-RULES------------------*/
:root {
  --black: #000000;
  --canard: rgb(5, 88, 94);
  --beige: rgb(243, 231, 208);
  --taupe: rgb(183, 196, 199);
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 24 px;
  line-height: 1, 5;
  color: black;
}

a {
  color: var(--black);
  text-decoration: none;
}

/*-----------------HEADER------------------*/
header {
  background-color: rgb(5, 88, 94);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.logo {
  font-size: 30px;
  font-family: "Raleway";
  font-weight: 100;
  color: #ffffff;
  margin-left: 40px;
}

.liste-menu {
  display: flex;
}

.menu-items {
  color: #ffffff;
  font-size: 20px;
  margin-right: 30px;
}

.fas {
  position: relative;
  display: flex;
  color: white;
}

.count {
  position: absolute;
  top: +8px;
  right: +33px;
  background-color: orangered;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  font-size: 15px;
  border-radius: 50%;
}
/*-----------------HERO------------------*/

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68vh;

  background-image: url("../image/photo-1480951759438-f39a376462f2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-family: "Raleway";
  color: rgb(5, 88, 94);
  font-size: 40px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.5);
  padding-right: 30px;
  padding-left: 30px;
}

/*-----------------COLLECTIONS------------------*/
.top {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtitle {
  height: auto;
  padding: 10px;
  background-color: var(--canard);
  border-radius: 5%;
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 28px;
  transform: rotate(-4deg);
}

.see-more {
  margin-right: 40px;
  display: flex;
}

.fa-angle-double-right {
  margin-left: 10px;
  color: black;
}
.collection-items {
  display: flex;
  overflow-x: auto;
}

.item-collection {
  flex: none;
  margin-right: 40px;
  margin-bottom: 15px;
}

.img-collec {
  height: 65vh;
}

.text-collec {
  text-align: center;
  margin-bottom: 30px;
}
h4 {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 15px;
  color: var(--canard);
}

h5 {
  font-size: 16px;
  color: var(--black);
  text-decoration: underline var(--canard);
}

/*-----------------PRODUCTS------------------*/

.products {
  background-image: linear-gradient(to bottom, var(--beige), var(--taupe));
  padding: 20px;
}

.products > .top {
  position: relative;
}

.highlight {
  display: flex;
  height: 110px;
  width: 110px;
  align-items: center;
  padding: 10px;
  background-color: var(--canard);
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -80px;
}

.highlight > p {
  color: white;
  text-align: center;
}
.product-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.product-item {
  position: relative;
  margin: 30px;
  overflow: hidden;
}

.product-item > img {
  max-width: 100%;
  height: auto;
  transition: transform 0.5s ease-out;
}

.product-item:hover img {
  transform: scale(1.2);
}

.detail {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  z-index: 1;
}

.name {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: var(--canard);
  font-size: 18px;
}

.category {
  display: flex;
  align-items: center;
}

.category p {
  text-decoration: none;
  font-size: 18px;
  margin-right: 5px;
}

.category span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.category span:first-of-type {
  background-color: var(--canard);
  margin-right: 5px;
}

.category span:nth-of-type(2) {
  background-color: cadetblue;
  margin-right: 5px;
}

.category span:nth-of-type(3) {
  background-color: aqua;
  margin-right: 5px;
}

.price {
  font-style: italic;
  text-decoration: none;
  font-size: 18px;
}

.add-to-cart {
  background-color: white;
  border-radius: 10%;
  border-width: 2;
  border-style: solid;
  border-color: var(--canard);
  text-decoration: none;
  font-size: 18px;
}

.browse-all {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.browse {
  background-color: white;
  border-radius: 10%;
  border-width: 2;
  border-style: solid;
  border-color: var(--canard);
  text-decoration: none;
  font-weight: 200;
  font-size: 18px;
  padding: 5px 10px;
}

/*---------------------PHILOSOPHY--------------------*/

.philosophy {
  background-image: url("../image/Items/products/Beau-plateau-de-fromage.jpg");
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notre-philo {
  height: 350px;
  width: 350px;
  background-color: white;
  padding: 50px;
}

.philo-titre {
  font-size: 24px;
  font-weight: 100;
  color: var(--canard);
  padding-bottom: 15px;
}

.philo-texte > p {
  text-align: justify;
  font-weight: 100;
}

.philo-texte {
  padding-bottom: 25px;
}

.philo-button {
  background-color: white;
  border-radius: 10%;
  border-width: 2;
  border-style: solid;
  border-color: var(--canard);
  text-decoration: none;
  font-weight: 200;
  font-size: 18px;
  padding: 5px 10px;
}
